.main-page{
  margin: 25px;
  padding-top: 100px;
}

.drop-content{
  background-color: #4C4C4C;
  margin-top: 15px;
  border-radius: 10px;
  overflow: auto;
  position: relative;
  max-height: 700px;
}

.class-table{
  width: 100%;
  border-collapse: collapse;
}

.class-thead{
  color: #ffffff;
}

.class-thead th{
  background-color: #4C4C4C;
  padding: 0.8rem;
  text-align: left;
  font-weight: 700;
  font-size: 1rem;
  position: sticky;
  top: 0;
}

.class-tbody tr{
  border-top: 2px solid #696969;
}

.class-tbody tr:hover{
  background-color: #3d3d3d;
  cursor: pointer;
}

.class-tbody td{
  padding: 0.7rem 0.8rem;
  font-size: 20px;
  color: #f1f1f1;
}