.home-content{
    background-image: url('../../assets/backgroundImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 182vh;
    margin-top: 100px;
    margin-left: 150px;
}

.content{
    max-width: 800px;
    padding: 10px 0px 0px 100px;
}

.content h3{
    color: #ffffff;
    font-size: 100px;
}

.content p{
    color: #ffffff;
    font-size: 30px;
}

b{
    color: #1ce00a;
}