header{
    background-color: #2E2EB1;
    display: flex;
    height: 80px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 50px;
    border-radius: 10px;
}

.logo{
    padding-left: 280px;
    height: 130px;
}

.head-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 400px;
}

.button-bar{
    display: flex;
    padding-top: 25px;
    gap: 50px;
}

.head-buttons ul li{
    color: #FFFFFF;
    display: inline;
    font-weight: 700;
    font-size: 19px;
}